@use "variables" as *
@use "layout" as *

.header
    .heading
        font-size: $heading-size
        color: $heading

.section
    margin: $spacing-lg 0
    
    .section-title
        display: flex
        align-items: center
        gap: $spacing-xs
        font-size: $subheading-size
        color: $heading
        margin-bottom: $spacing-sm
        
        .icon
            opacity: 0.7

button
    border-radius: 8px
    border: none
    padding: 18px 12px
    background: $primaryAccent
    color: white
    font-size: $heading-size
    font-weight: 600
    cursor: pointer
    &.generate
        background-image: url('../images/buttonDayWrapped.png')
        color: $primaryAccent
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        width: 100%
        height: 100%
        border: 1.5px solid $primaryAccent
        position: relative
        transition: all 0.3s ease
        overflow: hidden
        margin: $spacing-sm 0
        
        &:hover
            box-shadow: 0 0 10px rgba($primaryAccent, 0.65)
            transform: translateY(-2px)
            
            &::before, &::after
                content: '✨'
                position: absolute
                animation: sparkle 1s infinite
            
            &::before
                right: 15px
                animation-delay: 0.2s
            
            &::after
                left: 15px
                animation-delay: 0.4s
            
            .sparkle
                opacity: 1
                transform: translate(0, 0)
    &.edit
        background-color: $icon
        border-radius: 4px
        padding: 8px
        font-size: $text-size
        cursor: pointer
        &:hover
            background-color: $iconHover
    &.add-more
        width: 100%
        padding: 12px
        margin-top: 8px
        border: 2px dashed #ddd
        background: none
        color: #999
        cursor: pointer
        border-radius: 4px
        
        &:hover
            border-color: #bbb
            color: #666
        

input
    flex: 1
    padding: $spacing-xs $spacing-sm
    border: 1px solid $outline
    border-radius: 4px
    background: $input-background
    width: 100%
    &::placeholder
        color: $placeholder

@keyframes sparkle
    0%, 100%
        opacity: 1
        transform: scale(1)
    50%
        opacity: 0.5
        transform: scale(0.8)

.goals
    .input-wrapper
        margin: $spacing-sm 0
        display: flex
        flex-direction: column
        gap: $spacing-sm

    .heading
        display: flex
        justify-content: space-between
        align-items: center
        margin: $spacing-sm 0
        cursor: pointer

    .collapsible
        padding: $spacing-sm 0

    .goals-list
        list-style: none
        
        .goal-item
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            padding: $spacing-xs 0
            border-bottom: 1px solid $outline
            padding-bottom: $spacing-sm
            

.summary-container
    display: flex
    flex-direction: column
    gap: $spacing-md
    .summary-section
        display: flex
        flex-direction: column
        gap: $spacing-xs
        @include card

.react-loading-skeleton
    margin: $spacing-sm 0

