@use "variables" as *

::root 
    --primary-accent: $primaryAccent
    --secondary-accent: $secondaryAccent
    --outline: $outline
    --text: $text
    --heading: $heading
    --card: $card
    --background: $background

::-webkit-scrollbar 
    display: none

* 
    font-family: $font-family
    color: $text
    margin: 0  
    padding: 0
    -webkit-tap-highlight-color: transparent 
    cursor: default 
    outline: none 
    scrollbar-width: none 
    box-sizing: border-box 
    vertical-align: middle 
    font-weight: normal 
    text-rendering: optimizeLegibility 
    -webkit-font-smoothing: antialiased 
    -moz-osx-font-smoothing: grayscale 
    line-height: 1.25

body, html
    margin: 0
    padding: 0
    background-color: $background
    width: 400px

// texts
@mixin text
    font-size: $text-size
    font-weight: 400
    line-height: 1.5
    color: $text

p, .content, .text, label
    @include text

a
    text-decoration: underline
    @include text
    font-size: 12px
    &:hover
        cursor: pointer
        opacity: 0.7

@mixin title
    font-size: $title-size
    font-weight: 600
    line-height: 1.25
    color: $heading

.title
    @include title

@mixin heading
    font-size: $heading-size
    font-weight: 600
    line-height: 1.5
    color: $heading

.heading 
    @include heading

@mixin subheading
    font-size: $subheading-size
    font-weight: 500
    line-height: 1.15
    color: $heading

.subheading
    @include subheading

hr
    border: 1px solid $outline
    margin: 8px 0

i
    color: $heading